<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Euro losowanie</title>
    <link rel="stylesheet" href="style.css">
    <style>
        /* Add a falling animation to the table cells */
        @keyframes falling {
            0%   {transform: translateY(-100%); opacity: 0;}
            100% {transform: translateY(0); opacity: 1;}
        }

        td {
            opacity: 0; /* Initially hide the cells */
            animation: falling 2s ease-in-out forwards; /* Use the 'forwards' keyword to retain the final state of the animation */
        }
    </style>
</head>
<body>
    <nav>
        <h1>Euro 2024 Losowanie</h1>
        <h2>Andrzej Knapik & Sebastian Mizera</h2>
    </nav>
    <main>
        <div id="karta">
            <table id="losowanieTable">
                <!-- Table rows will be added here by JavaScript -->
            </table>
        </div>
    </main>
    <div id="btnLosowanieDiv">
        <button class='glowing-btn' onclick='losuj()'><span class='glowing-txt'>L<span class='faulty-letter'>O</span>SUJ</span></button>
    </div>
    <script>
        let koszyk1 = ["Niemcy", "Portugalia", "Francja", "Hiszpania", "Belgia", "Anglia"];
        let koszyk2 = ["Węgry", "Turcja", "Rumunia", "Dania", "Albania", "Austria"];
        let koszyk3 = ["Holandia", "Szkocja", "Chorwacja", "Słowenia", "Słowacja", "Czechy"];
        let koszyk4 = ["Włochy", "Serbia", "Szwajcaria", "Ścieżka A", "Ścieżka B","Ścieżka C"];

        function losowanie(koszyk) {
            let index = Math.floor(Math.random() * koszyk.length);
            let druzyna = koszyk[index];
            koszyk.splice(index, 1);
            return druzyna;
        }

        let grupy = {A: [], B: [], C: [], D: [], E: [], F: []};

        function losuj() {
            for (let grupa in grupy) {
                grupy[grupa].push(losowanie(koszyk1));
                grupy[grupa].push(losowanie(koszyk2));
                grupy[grupa].push(losowanie(koszyk3));
                grupy[grupa].push(losowanie(koszyk4));
            }

            let table = document.getElementById('losowanieTable');
            for (let grupa in grupy) {
                let row = table.insertRow();
                let cell1 = row.insertCell();
                cell1.class = 'group';
                cell1.innerHTML = 'Grupa ' + grupa;
                for (let i = 0; i < grupy[grupa].length; i++) {
                    let cell = row.insertCell();
                    cell.innerHTML = grupy[grupa][i];
                    // Add a delay to the animation for each cell
                    cell.style.animationDelay = (i * 0.5) + 's';
                }
            }
        }
    </script>
</body>
</html>
